build/
install/
log/
.colcon/

.vscode/
__pycache__/
*.pyc
node_modules/
.env
.DS_Store
dataset_cls/
debug_fp_red/
output_dataset/
runs/



*.pt
*.pth
*.engine
*.onnx

TEST_VIDEO/


to_review/
train_classifier/
venv/
visual_results

audit_threshold.py
check_coco_classes.py
check_final_dataset.py
check_lisa_classes.py
compare_hybrid.py

data.yaml

output_dataset.zip

smart_compare.py
sort_mistakes.py
step1_train_color.py
step2_filter_coco.py
step3_split_dataset.py
step4_train_yolo.py
visualize_inference.py


